:root {
  --primary-color: #55c8de;
  --secondary-color: #ffffff;
  ---tertiary-color: #024e76;

}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* removes inherited link properties */
a {
  color: inherit;
 text-decoration:none;
}

.iconsImage:hover {
 color: var(--primary-color);
}

section div a {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

header {
  background-color: var(--primary-color);
  background-size: cover;
  padding: 20px 35px;
  display:flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header ul li { 
   padding: 10px 15px;
   font-size: 1.55vw;
   font-weight: normal;
   color: var(---tertiary-color);

}

/* mouse hovering over elements */
header ul li:hover {
  background: var(---tertiary-color);
  color: var(--primary-color);
  border-radius: 15px;
}

header h1 {
  font-weight: bold;
  margin-left: 20px;
  font-size: 36px;
  color: var(--secondary-color);
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.profile-img {
  height:25vh;
  width:25vh;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 27vw;
  object-fit: cover;
  border-bottom: 2px solid var(---tertiary-color);
}

.card-link {
  background-color: var(---tertiary-color);
  color: var(--primary-color);
  border-radius: 10px;
}

.card-link:hover{
  background-color: var(--primary-color);
  color: var(---tertiary-color);
}

/* .row-cols-md-2>* {
  width: 40%;
  height: 40%;
} */

.g-4 {
  justify-content: space-around;
}

main {
  margin: 20px;
}

.cards {
  margin: 0 10px 10px;
  border: 2px solid var(---tertiary-color);
  border-radius: 10px;
}

.cards:hover{
  border: 5px solid var(--primary-color);
}

.card-link-container {
  display: flex;
  justify-content: space-evenly;
}

.card-link {
  font-size: 1vw;
}

.contactForm {
  margin: 10px;
  flex: 0 0 auto;
  width: 100%;
}

.contact-info {
  /* border: 2px solid var(--primary-color); */
  border-radius: 5px;

}

.contact-info p {
  margin: 10px;
}

.contact-info span {
  font-size: 1.7vw;
  font-weight: bold;
  color: var(---tertiary-color);
}

.contact-info a {
  font-size: 1.3vw;
}

.contact-header {
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-left: 10px;
}

.btn {
  background: var(---tertiary-color);
  color: var(--primary-color);
  border-radius: 15px;
}

label {
  margin: 7px 0px 7px 0px;
}

input[type=text], input[type=email],textarea {
  width: 100%;
}

.footer {
  text-align: center;
}

.skills {
  display:flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.resume-link {
  color: #0d6efd;
  text-decoration: underline;
}
/* The above style is my added styling the below is from native react */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
